<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>756717666760-i90cgip4jdqooovtom3v9h5hvh5gc71p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756717666760-i90cgip4jdqooovtom3v9h5hvh5gc71p</string>
	<key>API_KEY</key>
	<string>AIzaSyAgv8oXqa4f8aPK_voiEyXAAfrDhGINVeg</string>
	<key>GCM_SENDER_ID</key>
	<string>756717666760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roadsiderapp.roadsider</string>
	<key>PROJECT_ID</key>
	<string>roadsider-institute</string>
	<key>STORAGE_BUCKET</key>
	<string>roadsider-institute.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:756717666760:ios:e3b381f21a13141e</string>
	<key>DATABASE_URL</key>
	<string>https://yaqeen-institute.firebaseio.com</string>
</dict>
</plist>
